img{
    float:right
}
.main{
    width: 100%;
    background-color: rgb(204, 213, 221);
    height: 200px;

}
.left,.right{
    width: 50%;
    background-color: red;
    height: 100px;
    border: 2px solid black;
}
.left{
    float: right;
}
right{
    float: right;

}
p{
    clear:right;
    
}