body{
    box-sizing: border-box;
    background-color: rgb(169, 200, 200);
    
}
.main{
    background-color: rgb(153, 202, 244);
    height: 500px;
    width:400px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: auto auto auto;
    gap: 10px;
    

    /* we can also use for row- grid templte-roe: auto auto;*/
/* place itams:center is used to box to place in paricular place*/
}
/* .box1{
    grid-area: a;
    height: auto;
    width: auto;
    background-color: aquamarine;
    border:1px solid black;
    
}
box2{
    grid-area: b;
  
    background-color: rgb(23, 134, 73);
    border:1px solid black;
}
box3{
    grid-area: c;
   
    background-color: rgb(81, 232, 182);
    border:1px solid black;
} */
.box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border:1px solid black;
}