.main{
    background-color: rgb(211, 220, 227);
    height: 500px;
    width: 100%;

}
.box{
    height: 200px;
    width: 48%;
    background-color: rgb(234, 21, 21);
    margin: 10px;
    display: inline;


}